
img{
    width: 200px; 
}
.num{
    width: 50px;
    height: 50px;
}
#a{
    background-color: darkslateblue;
}
#b{
    background-color: skyblue;
}
#c{
    background-color: turquoise;
}
#d{
    background-color: lightseagreen;
}
#e{
    background-color: seagreen;
}
.head{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#first{
    background-color: darkslateblue;
    border: 2px;
    width: 150px;
    
}
#sec{
    background-color: skyblue; 
    border: 2px;
    width: 150px;
 
}
#trd{
    background-color: turquoise;
    border: 2px;
    width: 150px
}
#four{
    background-color: lightseagreen;
    border: 2px;
    width: 150px
}
#five{
    background-color: seagreen;
    border: 2px;
    width: 150px
}
.text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
